    <!DOCTYPE html>
    <html>
    <head>

    </head>
<body>
    <div id="main" ng-app="testApp">
 <div ng-view></div>
        <div>

      <section ng-controller="appCtrl" class="panel-body">
        <ul class="nav nav-tabs" ng-init="activeTab = 'details'">
            <li ng-class="{ active: activeTab === 'details' }">
                <a ng-click="activeTab = 'details'" href="#">Details</a>
            </li>
            <li ng-class="{ active: activeTab === 'options' }">
                <a ng-click="activeTab = 'options'" href="#">Options</a>
            </li>
            <li ng-class="{ active: activeTab === 'other' }">
                <a ng-click="activeTab = 'other'" href="#">Other</a>
            </li>
        </ul>
 
        <div class="tab-content">
            <div class="tab-pane" ng-class="{ active: activeTab === 'details' }">Details tab content.</div>
            <div class="tab-pane" ng-class="{ active: activeTab === 'options' }">Options tab content.</div>
            <div class="tab-pane" ng-class="{ active: activeTab === 'other' }">Other tab content.</div>
        </div>
    </section>

</div> 	
    </div>
     <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-resource.min.js"></script>
    <script src="./lib/angular-route.min.js"></script>
    <script src="./app/main.js"></script>
</body>
</html>
